fuzzywuzzy==0.18.0
highlight-text==0.2
json5==0.9.5
matplotlib==3.6.2
mplsoccer==1.1.9
numpy==1.22.4
pandas==1.5.3
s3fs==2024.3.1
soccerdata==1.5.1
st-files-connection==0.1.0
streamlit==1.31.1
seaborn==0.13.2